.styled-test {
    color: red;
}

@font-face {
    font-family: Sarabun;
    src: url('/log_book/static/src/fonts/Sarabun/Sarabun-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: Sarabun, 'Segoe UI Symbol';
}

.th-middle {
    text-align: center; 
    vertical-align: middle;
}

td {
    padding-top: 1px;
    padding-bottom: 1px;
}